<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>Metronic | Data Tables - Advanced Tables</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="__PUBLIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="__PUBLIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/select2_metro.css" />

    <link rel="stylesheet" href="__PUBLIC__/media/css/DT_bootstrap.css" />

    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="__PUBLIC__/media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <include file="Public:public_top" />

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li>

                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

                <div class="sidebar-toggler hidden-phone"></div>

                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            </li>

            <li>

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search">

                    <div class="input-box">

                        <a href="javascript:;" class="remove"></a>

                        <input type="text" placeholder="Search..." />

                        <input type="button" class="submit" value=" " />

                    </div>

                </form>

                <!-- END RESPONSIVE QUICK SEARCH FORM -->

            </li>

            <li class="start ">

                <a href="{:U('Index/index')}">

                    <i class="icon-home"></i>

                    <span class="title">首页</span>

                </a>

            </li>
            <li class="active">
                <a href="javascript:;">
                    <i class="icon-th"></i>
                    <span class="title">信息管理</span>
                    <span class="selected"></span>
                    <!--<span class="arrow open"></span>-->
                    <span class="arrow open"></span>

                </a>

                <ul class="sub-menu">

                    <li >

                        <a href="{:U('Card/index')}">

                            japan卡片信息管理</a>

                    </li>
                </ul>

            </li>
            <li class="">

                <a href="javascript:;">

                    <i class="icon-sitemap"></i>

                    <span class="title">站点管理</span>

                    <span class="selected"></span>

                    <!--<span class="arrow open"></span>-->
                    <span class="arrow"></span>

                </a>

                <!--<ul class="sub-menu">-->

                    <!--<li >-->

                        <!--<a href="layout_horizontal_sidebar_menu.html">-->

                            <!--Horzontal & Sidebar Menu</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_horizontal_menu1.html">-->

                            <!--Horzontal Menu 1</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_horizontal_menu2.html">-->

                            <!--Horzontal Menu 2</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_promo.html">-->

                            <!--Promo Page</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_email.html">-->

                            <!--Email Templates</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_ajax.html">-->

                            <!--Content Loading via Ajax</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_sidebar_closed.html">-->

                            <!--Sidebar Closed Page</a>-->

                    <!--</li>-->

                    <!--<li class="active">-->

                        <!--<a href="layout_blank_page.html">-->

                            <!--Blank Page</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_boxed_page.html">-->

                            <!--Boxed Page</a>-->

                    <!--</li>-->

                    <!--<li >-->

                        <!--<a href="layout_boxed_not_responsive.html">-->

                            <!--Non-Responsive Boxed Layout</a>-->

                    <!--</li>-->

                <!--</ul>-->

            </li>
            <li class="last">
                <a href="javascript:;">
                    <i class="icon-user"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a href="{:U('User/index')}">
                            用户列表</a>
                    </li>
                </ul>

            </li>
        </ul>

        <!-- END SIDEBAR MENU -->

    </div>

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>portlet Settings</h3>

            </div>

            <div class="modal-body">

                <p>Here will be a configuration form</p>

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN STYLE CUSTOMIZER -->

                    <div class="color-panel hidden-phone">

                        <div class="color-mode-icons icon-color"></div>

                        <div class="color-mode-icons icon-color-close"></div>

                        <div class="color-mode">

                            <p>THEME COLOR</p>

                            <ul class="inline">

                                <li class="color-black current color-default" data-style="default"></li>

                                <li class="color-blue" data-style="blue"></li>

                                <li class="color-brown" data-style="brown"></li>

                                <li class="color-purple" data-style="purple"></li>

                                <li class="color-grey" data-style="grey"></li>

                                <li class="color-white color-light" data-style="light"></li>

                            </ul>

                            <label>

                                <span>Layout</span>

                                <select class="layout-option m-wrap small">

                                    <option value="fluid" selected>Fluid</option>

                                    <option value="boxed">Boxed</option>

                                </select>

                            </label>

                            <label>

                                <span>Header</span>

                                <select class="header-option m-wrap small">

                                    <option value="fixed" selected>Fixed</option>

                                    <option value="default">Default</option>

                                </select>

                            </label>

                            <label>

                                <span>Sidebar</span>

                                <select class="sidebar-option m-wrap small">

                                    <option value="fixed">Fixed</option>

                                    <option value="default" selected>Default</option>

                                </select>

                            </label>

                            <label>

                                <span>Footer</span>

                                <select class="footer-option m-wrap small">

                                    <option value="fixed">Fixed</option>

                                    <option value="default" selected>Default</option>

                                </select>

                            </label>

                        </div>

                    </div>

                    <!-- END BEGIN STYLE CUSTOMIZER -->

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                       卡片信息管理<small>advanced datatables</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="index.html">Home</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <a href="#">信息管理</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">列表</a></li>

                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    {__CONTENT__}

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->






<include file="Public:card_footer" />